html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Barlow', sans-serif;
}

.navbar-brand {
  font-family: 'Bree Serif', serif;
}

.welcome-background-image {
  background-image: url(../images/welcome_banner_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 !important;
}

.welcome-texts {
  text-align: left;
  position: absolute;
  bottom: 20vh;
  color: #ffffff;
  font-weight: 700;
}

.btn-primary {
  background-color: #CCD5AE !important;
  border: none;
  color: #FFFFFF;
}

.btn-outline-secondary {
  border-color: #ffffff;
  color: #ffffff;
  margin: 15px;

}

.feature-icon {
  height: 80px;
  width: 80px;
  border-radius: 30%;
  background-color: #CCD5AE !important;
}

.featurette-heading {
  font-size: 3rem;
}

.map-ui {
  position: relative;
  height: cal(100vh - 390px);
}

.map-ui a {
  text-decoration: none;
  color: red;
}

.map-ui__list,
.map-ui__map {
  position: absolute;
  transform: scale(2);
  cursor: pointer;
}

.map-ui__list {
  top: 40px;
  right: 40px;
}

.map-ui__map {
  top: 80px;
  right: 40px;
}

.map-ui__map a {
  text-decoration: none;
  color: red;
}

.map-ui__location {
  position: absolute;
  transform: scale(1.5);
  cursor: pointer;
}

.map-ui__location:nth-of-type(1) {
  bottom: 50%;
  right: 30%;
}


.map-ui__location:nth-of-type(2) {
  bottom: 69%;
  right: 70%;
}


.map-ui__location:nth-of-type(3) {
  bottom: 30%;
  right: 50%;

}

.map-ui__location:hover {
  transform: scale(2.5);
  transition-duration: 0.2s;
}


.map-ui img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.list {
  padding-top: 20px;
  border-bottom: 10px;
}


/* #qrcode {
  width:60px;
} */

#qrcode>img {
  width: 100%;
  object-fit: cover;
}

#timer {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900px;
  font-size: 40px;
  margin: 0;
  background-color: #E9EDC9
}

.card-body {
  padding: 0;
}

.btn.btn-primary {
  margin: 15px;
}

.card-title {
  margin-left: 4px;
  margin-top: 4px;
  font-weight: 600;
}

.hi-user-name{
  font-family: "Bree Serif", serif;
  font-weight: 400;
  padding-left: 15px;;
}