html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Barlow', sans-serif;
}

.navbar-brand {
  font-family: 'Bree Serif', serif;
  background-color: #CCD5AE;
}


#navbar {
  background-color: #CCD5AE;
}

* {
  margin: 0;

}

.welcome-background-image {
  background-image: url(../images/welcome_banner_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 !important;
}

.welcome-texts {
  text-align: left;
  position: absolute;
  bottom: 20vh;
  color: #ffffff;
  font-weight: 700;
}

.btn-primary {
  background-color: #CCD5AE !important;
  border: none;
  color: #FFFFFF;
}

.btn-outline-secondary {
  border-color: #ffffff;
  color: #ffffff;
  margin: 15px;
}

.feature-icon {
  height: 80px;
  width: 80px;
  border-radius: 30%;
  background-color: #CCD5AE !important;
}

.featurette-heading {
  font-size: 3rem;
}

.mapboxgl-canvas-container,
#map {

  height: calc(80vh);

}

.vendor-features img {
  height: 50px;
  object-fit: cover;
}


.map-ui img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.list {
  padding-top: 20px;
  border-bottom: 10px;
}


#qrcode>img {
  width: 100%;
  object-fit: cover;
}

#timer-card {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900px;
  font-size: 40px;
  margin: 0;
  border:0;
}

#timer-card p {
  margin: 0;
}

.card-body {
  padding: 0;
}

.btn.btn-primary {
  margin: 15px;
}

.btn.btn-secondary {
  margin: 15px;
}

.btn.btn-third {
  margin: 15px;
  background-color: #92b5af;
  border: none;
  color: #FFFFFF;
}

.card-title {
  margin-left: 4px;
  margin-top: 4px;
  font-weight: 600;
}

.card-image {
  height: 12rem;
  object-fit: cover;
}

.hi-user-name {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  padding: 15px;

  ;
}

.header-message{
  font-size: 20px;
  text-align: center;
  color: grey;
  font-weight: 200;
}


/* .switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
} */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #CCD5AE;
}

input:focus+.slider {
  box-shadow: 0 0 1px #CCD5AE;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.position-fixed {
  z-index: 999;
  /* High value to ensure it's on top */
}


#pageToggle .btn {
  font-size: 1.0em;
  padding: 5px 50px;
}

#pageToggle .btn-secondary {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

#pageToggle .btn-secondary.active,
#pageToggle .btn-secondary:active {
  background-color: #CCD5AE;
  color: white;
}

#pageToggle {
  position: relative;
  z-index: 1000;
}


.mobile-nav {
  background: #ffffff;
  border-top: 0.5px solid #808080;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-icon img {
  width: 30px;
}

.bloc-icon svg {
  width: 30px;
  color: #000000;
}


.content-container {
  padding-bottom: 65px;

}

.vendors-go-here {
  align-items: center;
}

.vendor-card {
  margin: 10px;
  margin-left: 0;
  padding: 0;
}

#mapButton {
  width: 50vw;
  margin-right: auto;

}

#listButton {
  width: 50vw;
}

#pageToggle {
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.card-container{
  align-items: center;
  text-align: center;
  gap: 15px;
  margin:10px;
  margin-top:0px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.card-title{
  padding-bottom: 10px;
}

#card-vendor-img{
  width: 100px;
  height:100px;
  border-radius: 60px;
  margin-top: 20px;
}

#card-vendor-name{
  font-weight: 600;
  padding-top: 10px;
  margin-bottom: 0;
}

#card-vendor-address{
  font-size: 12px;
  margin:10px;
  margin-top: 0;
}


#card-vendor-link{
  text-decoration: none;
  font-weight: 600;
  color: rgb(5, 54, 5);
  margin-top: 20px;
}

.material-symbols-outlined{
  vertical-align: middle;
  margin-bottom: 5px;
}

#myBtn{
  margin:10px;
}




@media (max-width: 690px) {
  .position-fixed {
    z-index: 999;
    /* High value to ensure it's on top */
  }

  /* #pageToggle .btn {
    width: 100%;
    padding: 10px 100px; 
  } */
}

.card-link {
  all: unset;
}

.placeholder{
  display: none;
}

.my-umbrella-no-reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-buttons {
  padding-top: 1rem;
}

.modal-button {
  width: 100%;
  margin: 5px 0 !important;
  border: none;
}

/* The Close Button */
/* .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
} */

/* .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* background-color: #FFFFFF; */
}

.loader {
  width: 150px;
  /* control the size */
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0003, #000);
  mask: conic-gradient(from 15deg, #0003, #000);
  animation: load 1s steps(12) infinite;
}

.loader,
.loader:before,
.loader:after {
  background:
    radial-gradient(closest-side at 50% 12.5%, currentColor 90%, #0000 98%) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, currentColor 90%, #0000 98%) 0 50%/80% 20% repeat-x;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}

.loader:after {
  transform: rotate(60deg);
}





@keyframes load {
  from {
    transform: rotate(0turn)
  }

  to {
    transform: rotate(1turn)
  }
}
